
.d-flex.h-100 {
  background-color: #121212;
  color: #ffffff;
}

aside {
  background-color: #1e1e1e;
  border-right: 1px solid rgba(255, 204, 0, 0.3);
  min-width: 200px;
}

aside .btn {
  width: 100%;
  text-align: left;
  color: #ffcc00;
  border-color: #ffcc00;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

aside .btn:hover,
aside .btn.active {
  background-color: rgba(255, 204, 0, 0.1);
  color: #ffffff;
}

main {
  background-color: #121212;
  padding: 2rem;
}


main h2 {
  color: #ffcc00;
}

main p.text-muted {
  color: #cccccc;
}
