.navbar-brand {
    margin-left: 15px; 
  }
  
  .card {
    margin-bottom: 20px; 
  }

  .ng-valid:not(form).ng-touched{
    border-left: 5px solid green
  }

  .ng-invalid:not(form).ng-touched {
    border-left: 5px solid red
  }
  .white-box {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 150px;
    margin: 50px auto;
    max-width: 900px;
    text-align: center;
    border-radius: 8px;
  }