.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 34px;
  margin-bottom: 5px;
}



.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
  
  .items-container {
    flex: 2;
  }
  
  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.items-container {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 20px;
}

.items-container > div:first-child {
  margin-bottom: 10px; 
}

.items-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timer-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.timer-label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.timer-time {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.purchase-container {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.purchase-button {
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s;
}

.purchase-button:hover {
  background-color: #333;
}

/* Estilos para mobile */
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
  
  .items-container,
  .purchase-container {
    padding: 15px;
  }
}

/* Estilos cuando el temporizador está en rojo */
.timer-container.red {
  border: 2px solid #ff4d4d;
  background-color: #fff0f0;
}

.timer-container.red .timer-time {
  color: #ff0000;
}

.empty-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 0;
}
