div h1 {
    display: flex;
    justify-content: center;
}
.container {
    @media (min-width: 760px) {
        padding: 40px 200px;
    }
}
.empty-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 155px;
}
.main {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding: 40px 0px;
    cursor: default;
    @media (min-width: 1024px) {
        grid-template-columns: 65% 35%;
    }
    @media (max-width: 759px) {
        grid-template-columns: 100% ; 
        gap: 10px;
    }
}
.items-container {
    display: grid;
    grid-template-columns: auto;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 40px;
}
.items-card-content {
    display: grid;
    grid-template-columns: auto;
    row-gap: 30px;
}
.purchase-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 40px;
    height: fit-content;
}

.purchase-button {
    width: 100%;
    color: #ffffff; /* Asegura que el texto del botón sea blanco */
    background-color: #000000;
    height: 36px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    border: 1px solid gray;
    transition: transform 0.3s ease-in-out;
    display: flex; /* Añadido para que el enlace ocupe todo el botón */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
}

.purchase-button:hover {
    background-color: #727171;
    color: #ffffff;
    transform: scale(0.95);
}

.purchase-button a {
    color: #ffffff; /* Texto blanco */
    text-decoration: none; /* Sin subrayado */
    width: 100%; /* Para que el enlace ocupe todo el botón */
    height: 100%; /* Para que el enlace ocupe todo el botón */
    display: flex; /* Para centrar el texto */
    align-items: center; /* Para centrar el texto verticalmente */
    justify-content: center; /* Para centrar el texto horizontalmente */
}

.total-price {
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    padding: 20px 0px;
}
