<!-- TEMPLATE QUE MUESTRA LAS TARJETAS Y EL BOTON DE ENLACE AL CARRITO -->
<main>
  <div tabindex="0" class="cartButton" routerLink="/cart">
    <img  class="cartIcon" src="../assets/img/cart1.png">
    <span class="cart-count">{{ count() }}</span>
    <span class="cart-total">${{ total() | number : "1.2-2" }}</span>
  </div>

    <section>
      <div class="container__card">
        <div id="administrador" style="display:none" >
          <a href="administrador.html">
          <div class="card">
            <div class="card__front"
              style="background-image: url(../assets/img/burger+.jpg)" >
              <div class="bg"></div>
              <div class="body__card_front">
                <h2>AÑADIR PRODUCTO <br><i class="fa-solid fa-plus fa-beat-fade fa-xl"></i></h2>
              </div>
            </div>
          </div>
          </a>
      </div>
         
      <app-products></app-products>
  
  
